<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="/images/favicon.png" type="">
  <title>Famms - Fashion HTML Template</title>
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  <!-- font awesome style -->
  <link href="/css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />
  <script>
    window.digitalData = {{json digitalData }};
  </script>
  </script>
  <script>
    // Target prehiding snippet.
    ;(function(win, doc, style, timeout) {
      var STYLE_ID = 'at-body-style';
      function getParent() {
        return doc.getElementsByTagName('head')[0];
      }
      function addStyle(parent, id, def) {
        if (!parent) {
          return;
        }
        var style = doc.createElement('style');
        style.id = id;
        style.innerHTML = def;
        parent.appendChild(style);
      }
      function removeStyle(parent, id) {
        if (!parent) {
          return;
        }
        var style = doc.getElementById(id);
        if (!style) {
          return;
        }
        parent.removeChild(style);
      }
      addStyle(getParent(), STYLE_ID, style);
      setTimeout(function() {
        removeStyle(getParent(), STYLE_ID);
      }, timeout);
    }(window, document, "#customCarousel1 {opacity: 0 !important}", 500));

    (function () {
      window.defaultTagsLibrary = "<scr" + "ipt src=\"https://assets.adobedtm.com/22bf1a13013f/af8b0c15e5e5/launch-71eb7cb6afd7-development.min.js\" async></scr" + "ipt>";
      const tagsLibrary = window.localStorage.getItem("tagsLibrary") || window.defaultTagsLibrary;
      const url = /src="([^"]+)"/.exec(tagsLibrary)[1];
      const tagsScript = document.createElement("script");
      tagsScript.src = url;
      tagsScript.async = true;
      document.head.appendChild(tagsScript);
    })();
  </script>
</head>
